/* UserInfo.scss */
.user-info-page {
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.user-avatar {
  width: 150px;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.user-info {
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
}

.change-password-form {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.change-password-form input {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}

.change-password-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.upload-avatar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.upload-avatar input[type="file"] {
  display: none;
}

.upload-avatar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.upload-avatar p {
  font-size: 14px;
  color: #666;
}
